@model Hospital_Administration_System.Models.Reservation

@{
    ViewData["Title"] = "Create";
    SelectList patients = new SelectList(ViewBag.Patients, "PatientID", "FullName");
    SelectList doctors = new SelectList(ViewBag.Doctors, "DoctorID", "FullName");
}
<style>
    .container {
        margin-top: 10px;
        margin-bottom: 10px;
        max-width: 700px;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        max-height: 100vh;
    }

    .form-group {
        margin-top: 10px;
    }
</style>

<h1>Create</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="container">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ReservationID" class="control-label"></label>
                <input asp-for="ReservationID" class="form-control" />
                <span asp-validation-for="ReservationID" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PatientID" class="control-label"></label>
                <select asp-for="PatientID" class="form-control" asp-items="patients"></select>
                <span asp-validation-for="PatientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoctorID" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" asp-items="doctors"></select>
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationDate" class="control-label"></label>
                <input asp-for="ReservationDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
                <span asp-validation-for="ReservationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-select">
                    <option>Pending</option>
                    <option>Completed</option>
                    <option>Canceled</option>
                </select>
                @* <input asp-for="Status" class="form-control" /> *@
                @* <span asp-validation-for="Status" class="text-danger"></span> *@
            </div>
            <div class="form-group">
                <label asp-for="AdditionalData" class="control-label"></label>
                <input asp-for="AdditionalData" class="form-control" />
                <span asp-validation-for="AdditionalData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
